<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppID" value="6d5bcae1a20e48109f24f206cf9bc37d" />
    <add key="appName" value="OpenExchangeRate" />
    <add key="appVersion" value="1.0" />
    <add key="connection" value="Data Source=.\;Initial Catalog=OpenExchangeRate;User ID=sa;Password=sa" />
    <add key="MSSQLSERVER" value="Data Source=.\;Initial Catalog=OpenExchangeRateServer;User ID=sa;Password=sa" />
  </appSettings>

  <connectionStrings>
    <add name="ECommConnectionString"
        connectionString="Data Source=.;Initial Catalog=EComm;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
               
                <binding name="IpsApiServiceSoapBinding" allowCookies="true"
                maxReceivedMessageSize="2146233087"  closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00" 
                maxBufferSize="2146233087"
                maxBufferPoolSize="2146233087">
                    <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>

            </basicHttpBinding>
            <customBinding>
                <binding name="IpsApiServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://s7sps1apissl.scene7.com/scene7/services/IpsApiService"
                binding="basicHttpBinding" bindingConfiguration="IpsApiServiceSoapBinding"
                contract="Scene7Svc.IpsApiPortType" name="IpsApiSoapPort" />
            <endpoint address="https://s7sps1apissl.scene7.com/scene7/services/IpsApiService"
                binding="customBinding" bindingConfiguration="IpsApiServiceSoap12Binding"
                contract="Scene7Svc.IpsApiPortType" name="IpsApiSoap12Port" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ServiceBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
     
</configuration>